[submodule "third_party/highs"]
	path = third_party/highs
	url = git@github.com:ERGO-Code/HiGHS.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "third_party/motioncapture"]
	path = third_party/motioncapture
	url = https://github.com/IMRCLab/libmotioncapture.git
